@using System
@model CustomAttachment

<div class="guidance-container">
    <div class="attachment">
        <div class="attachment-thumbnail govuk-!-margin-right-8">
            <a href="@Model.Uri" download>
                @{
                    var fileExtension = Model.ContentType.Split('/').Last().ToLower();
                    switch (fileExtension)
                    {
                        case "pdf":
                            <img src="/assets/images/pdf-file-icon.svg" alt="pdf file type">
                            break;
                        case "csv":
                        case "xls":
                        case "xlsx":
                            <img src="/assets/images/spreadsheet-file-icon.svg" alt="spreadsheet file type" />
                            break;
                        case "html":
                        case "htm":
                            <img src="/assets/images/html-file-icon.svg" alt="html file type">
                            break;
                        default:
                            <img src="/assets/images/generic-file-icon.svg" alt="generic file type">
                            break;

                    }
                }


            </a>
        </div>

        <div class="attachment-details">
            <h3>
                @Model.Title
            </h3>


            <p class="attachment-metadata">

                <span class="attachment-attribute"
                    aria-label="file type">@Model.ContentType.Split('/').Last().ToUpper()</span>,
                <span class="attachment-attribute" aria-label="file size">
                    @(Model.Size / 1024) KB
                </span>
            <p class="attachment-attribute">
                Last updated @(((DateTime)Model.UpdatedAt).ToString("d MMMM yyyy"))
            </p>
            </p>

        </div>
        <a href="@Model.Uri" aria-describedby="file-details" download>
            <button class="govuk-button govuk-button--primary">
                Download template (@Model.Uri.Split('.').Last())
            </button>
        </a>
    </div>
</div>