@model ContentItemBase

@{
    var target = Model.Data.Target;
<div class="dfe-card">
    @if (target.Image is not null)
    {
        <img src="@target.Image.Fields.File.Url" alt="@target.ImageAlt">
    }
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="@target.Uri" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">@target.Title</a>
        </h3>
        @if (string.IsNullOrEmpty(target.Description))
        {
            <p>@target.Description</p>
        }
        @if (string.IsNullOrEmpty(target.Meta))
        {
            <p class="govuk-body-s">@target.Meta</p>
        }
    </div>
</div>}